fastapi
uvicorn[standard]
python-multipart
python-dotenv

openai
google-genai

pymupdf
pdfplumber
python-docx

pandas
numpy

sentence-transformers
torch
scikit-learn
transformers
accelerate
sentencepiece
safetensors
